/* Please refer to style.scss for reading the style */

/* Colors */

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

/* Body Copy */

$body-font-size: 13px;

/* Font */

$font-family-manrope: "Manrope", sans-serif;
$font-size-medium: 500;
$font-size-bold: 700;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: $body-font-size;
  min-height: 100vh;
  background-color: $light-grayish-blue;
}

@keyframes slide-up {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@mixin slide-up-animation {
    animation: slide-up 0.2s ease-in;
}

@mixin pc {
    @media screen and (min-width: 1200px) {
        @content
    }
}