/* Please refer to style.scss for reading the style */
/* Colors */
/* Body Copy */
/* Font */
html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  min-height: 100vh;
  background-color: #ecf2f8;
}

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.card {
  font-family: "Manrope", sans-serif;
  margin: 0 1.5rem;
  margin-top: 4.5rem;
  background-color: white;
  height: 32.5rem;
  max-width: 20.44rem;
  min-width: 20.43rem;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
}
.card > .image-container {
  height: 12.5rem;
  background: url(./images/drawers.jpg) 0% 25%;
  background-size: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.card > h1, .card > p, .card > .profile-card {
  padding: 0 1.8rem;
}
.card > h1 {
  font-size: 1.3em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #48556a;
}
.card > p {
  font-size: 1.05em;
  line-height: 1.6;
  color: #6d7f97;
}
.card > .profile-card {
  display: grid;
  grid-template-areas: "image name share" "image date share";
  height: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 0.45rem;
}
.card > .profile-card > .profile-pic {
  grid-area: image;
  max-width: 75%;
  max-height: 75%;
  border-radius: 50%;
  align-self: center;
}
.card > .profile-card > h2, .card > .profile-card > h3 {
  font-size: 1em;
  margin-block-end: 0;
  margin-block-start: 0;
}
.card > .profile-card > h2 {
  grid-area: name;
  align-self: flex-end;
  color: #48556a;
}
.card > .profile-card > h3 {
  grid-area: date;
  color: #9eafc2;
}
.card > .profile-card > .share-open {
  grid-area: share;
  align-self: center;
  justify-self: flex-end;
  background: url(./images/icon-share.svg) no-repeat 50% 45%, #ecf2f8;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}
.card > .profile-card > .share-options {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 1.8rem;
  background-color: #48556a;
  border: inherit;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.card > .profile-card > .share-options > h3 {
  text-transform: uppercase;
  color: #9eafc2;
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 1em;
}
.card > .profile-card > .share-options > button {
  padding: 1rem;
  border: none;
}
.card > .profile-card > .share-options > #facebook {
  background: url(./images/icon-facebook.svg) center no-repeat, transparent;
}
.card > .profile-card > .share-options > #twitter {
  background: url(./images/icon-twitter.svg) center no-repeat, transparent;
}
.card > .profile-card > .share-options > #pinterest {
  background: url(./images/icon-pinterest.svg) center no-repeat, transparent;
}
.card > .profile-card > .share-options > .share-close {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  background: url(./images/icon-share-white.svg) no-repeat 50% 45%, #6d7f97;
}

/*# sourceMappingURL=style.css.map */
